@import "../../../styles/color-variables";

.icon-tool {
    @media screen and (min-device-width: 768px) {
        position: absolute;
        height: 19.49%;
        background-color: #515151;
        border-radius: 10px;
    }
    @media screen and (max-device-width: 767px) {
        position: absolute;
        z-index: 0;
        height: percentage((72 * 0.625)/100);
        width: percentage((72 * 0.2343)/100);
        top: percentage((72 * 0.125)/100);
        background-color: #515151;
        border-radius: 10px;
    }
}
