.pawn-promotions {
    position: absolute;
    .customize-promo-label {
        position: absolute;
        text-align: center;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        color: #a9a9a9;
    }
}