
.promo-list-up-arrow {
    grid-column: 1;
    grid-row: 1;
    cursor: pointer;
}

.promo-list-down-arrow {
    grid-column: 1;
    grid-row: 7;
    cursor: pointer;
}

.promo-list-scroll-arrow {
    position: absolute;
    margin-top: 2.4000000000000004px;
    width: 5.6000000000000005px;
    height: 4.800000000000001px;
}