@mixin piece-name {
    position: relative;
    z-index: inherit;
    grid-row: 1;
    grid-column: 2;
    text-align: left;
    padding-top: 5px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #a9a9a9;
    overflow: hidden;
    text-overflow: ellipsis;
}