
.create-piece-link {
    z-index: inherit;
    grid-row: 1;
    grid-column: 4;
    /*border: 1px dashed white;*/
}

    .navbar-create-piece-tooltiptext {
        visibility: hidden;
        width: 45px;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: 60px;
        left: 197px;        
    }

    .create-piece-link:hover .navbar-create-piece-tooltiptext {
        visibility: visible;
    }
