//values are percent that are given the unit of a perccent by percent(%n\100)
$button-height: 10;
$first-margin: 5;

$margin1: $first-margin;
$button-disp: $button-height + $margin1;
$window-height: 57.5;
$disp: 16;
$first-option-y: 2.5%;
$option-disp: 25%;

$margin2: 7.5;
$option-height: 45;
$option-width: $option-height * 0.7353;
$disp-y: $option-height + $margin2;
$disp-x: $option-width + $margin2*3.75;
