.created-piece-profile {
    z-index: inherit;
    height: 360px;
    border-bottom: 0.75px solid #707070;
}

.created-piece-profile .profile-header {
    position: relative;
    z-index: inherit;
    width: 675px;
    height: 45px;
    display: grid;
    grid-template-columns: 37.5px 622.5px;
    grid-template-rows: 45px;
    column-gap: 15px;
    background-color: #515151;
    color: #a9a9a9;
    text-align: center;

}

.created-piece-name {
    position: relative;
    z-index: inherit;
    grid-row: 1;
    grid-column: 2;
    text-align: left;
    padding-top: 5px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #a9a9a9;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*container for w-or-b-profile*/
.created-piece-profile .profile-item {
    position: relative;
    z-index: inherit;
    height: 135px;
    background-color: #515151;
    margin-bottom: 15px;
}