.range-layer-board {
    position: absolute;
    z-index: 1;
    width: 800px;
    height: 800px;
    left: 263px;
    top: 77px;
    line-height: 0;
}

.range-layer-sqr {
    display: inline-block;
    z-index: 1;
    width: 100px;
    height: 100px;
}

.range-select-dropdown {
    position: absolute;
    z-index: 1;
    top: 880px;
    left: 680px;
    width: 120px;
    height: 20px;
    color: white;
    background-color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}