.home {
    width: 100%;
    height: 100%;
    background-image: url("/Images/Backgrounds/light-background.svg");
}

.main-menu-background {
    background-image: url("/Images/Backgrounds/light-background-home.svg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.alt-background {
    background-image: url("/Images/Backgrounds/y-so-serious.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.main-menu-icon-normal {
    fill: black;
} 

.main-menu-icon-highlighted {
    cursor: pointer;
    fill: white;
}
.page-link-clip {
    clip-path: url(#b);
}
.page-link-text {
    font-size: 40px;
    font-family: Garamond;
}

.page-link-fill {
    fill: black;
}
.config-container {
    position: relative;
    width: 20vw;
    height: 15vh;
    left: 36vw;
    top: 22vh;
    /* border: 1px dashed hover-off; */
}

.anonymous-login:hover {
    text-decoration: underline;
}