.play-as-body {
    background-image: url("/Images/Backgrounds/background.png");
    background-repeat: repeat;
    object-fit: none;
  }

.play-as-title {
    position: absolute;
    top: 95px;
    left: 643px;
    width: 251px;
    height: 75px; 
}

.play-as-options {
    position: absolute;
    left: 643px;
    top:  180px;
    width: 251px;
    height: 225px;
}