@import "../../styles/modal";

@mixin window {
    position: absolute;
    z-index: 4;
    display: grid;
    background-color: #515151;
    border-radius: 20px;
    grid-template-columns: 320px;
    grid-template-rows: 7.89% 84.21% 7.89%;
}
@mixin title {
    position: absolute;
    z-index: 4;
    left:0%;
    height:0%;
    width: 90%;
    height: 7.5%;
    color: #a9a9a9;
    font-size: 180%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top-left-radius: 15px;
}
@mixin close {
    position: absolute;
    z-index: inherit;
    left:90%;
    width:10%;
    height: 7.5%;
    border-top-right-radius: 15px;
    cursor: pointer;
}
@mixin bottom {
    position: absolute;
    z-index: inherit;
    grid-column: 1;
    grid-row: 3;
    background-color: #515151;
    border-radius: 15px;
}
.pieces-display-board-modal {
    @include modal;
}
.pieces-display-board-window {
    @include window;
    .pieces-display-board-header-title {
        @include title;
    }
    .pieces-display-board-header-close {
        @include close;
    } 
    
    .pieces-display-board-bottom {
        @include bottom;
    }
}