@mixin new-game-promotion {
    z-index: inherit;
    display: grid;
    grid-row: 1;
    grid-column: 3;
    grid-template-columns: 96px 117.6px;
    grid-template-rows: 24px;
    text-align: left;
}