.pick-type-body {
    background-image: url("/Images/Backgrounds/background.png");
    background-repeat: repeat;
    object-fit: none;
}

.game-type-icon-normal {
    fill: black;
}

.game-type-icon-highlighted {
    fill: white;
}

/* .a{clip-path:url(#game-type-text);} */
.game-type-text {
    font-size: 35px;
    font-family: SitkaDisplay, Sitka Display;
}
/* .c{fill:#fff;} */
