@import "../../styles/color-variables";

.range-tool {
    @media screen and (min-device-width: 768px) {
        position: absolute;
        z-index: 0;
        background-color: #515151;
        border-radius: 15px;
        border-color: #a9a9a9;
    }
    @media screen and (max-device-width: 767px) {
        position: absolute;
        z-index: 0;
        border-radius: 15px;
        border-color: #a9a9a9;
    }
}

.range-tool .range-title {
    @media screen and (min-device-width: 768px) {
        position: absolute;
        z-index: 0;
        left: 2.5%;
        top: 2.5%;
        font-size: 150%;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        color: #a9a9a9;
    }
    @media screen and (max-device-width: 767px) {
        display: none;
    }
}

//will be unit %
$direction-pad-height: 90;
$icon-tool-hw-ratio: 0.615;

.range-tool .direction-pad {
    @media screen and (min-device-width: 768px) {
        position: absolute;
        z-index: 0;
        width: 25%;
        height: 66.67%;
        left: 72.5%;
        top: 27.3%;
    }
    @media screen and (max-device-width: 767px) {
        position: absolute;
        z-index: 0;
        height: percentage($direction-pad-height/100);
        width: percentage($direction-pad-height * $icon-tool-hw-ratio/100);
        top: 7%;
        left: 3%;
    }
}

.direction-pad .middle {
    position: absolute;
    top: 35%;
    left: 35%;
    width: 30%;
    height: 30%;
}

.direction-pad .button-selected {
    position: absolute;
    z-index: 0;
    width: 30%;
    height: 30%;
    background-color: #ec2525;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    cursor: pointer;
}
.button-normal:hover {
    border-color: #00ccff;
}

.direction-pad .button-normal {
    position: absolute;
    z-index: 0;
    width: 30%;
    height: 30%;
    background-color: $dark-grey2;
    border: 1px solid $light-grey1;
    border-radius: 5px;
    cursor: pointer;
}
.button-normal:hover {
    background-color: #a9a9a9;
}

.button-selected .vector {
    position: absolute;
    z-index: 0;
    width: 66.667%;
    height: 66.667%;
    left: 16.66%;
    top: 16.66%;
}

.button-normal .vector {
    position: absolute;
    z-index: 0;
    width: 66.667%;
    height: 66.667%;
    left: 16.66%;
    top: 16.66%;
}
