
.range-tool .range-display-window {
    position: absolute;
    z-index: 0;
    left: 2.5%;
    top: 27.33%;
    width: 60.25%;
    height: 66.667%;
    border-radius: 5px;
    background-color: #515151;
    border: 1px solid #A9A9A9;
    color: #a9a9a9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.show-spans-label {
    position: absolute;
    top: -3%;
    width: 32%;
    height: 20%;
    text-align: left;
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #a9a9a9;
}

.show-offsets-label {
    position: absolute;
    top: -3%;
    left: 35.68%;
    width: 32%;
    height: 10%;
    text-align: left;
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #a9a9a9;
}