@mixin create-piece-scroll {
    position: absolute;
    z-index: 1;
    @media screen and (min-device-width: 768px) {
        width: 100%;
        height: 7.5%;
        cursor: pointer;
        background-color: #535353;
    }

    @media screen and (max-device-width: 767px) {
        width: 100%;
        height: 5%;
        cursor: pointer;
        background-color: #535353;
    }
}
@mixin create-piece-scroll-arrow {
    position: absolute;
    left: 48%;
    height: 80%;
}
.create-piece-scroll-up {
    @include create-piece-scroll;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    top: 14%;
    @media screen and (max-device-width: 767px) {
        top: 0%;
    }
}

.create-piece-scroll-down {
    @include create-piece-scroll;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    @media screen and (min-device-width: 768px) {
        top: 92%;
    }
    @media screen and (max-device-width: 767px) {
        top:95%;
    }
}

.create-piece-scroll-arrow-up {
    @include create-piece-scroll-arrow;
    bottom: 20%;
}

.create-piece-scroll-arrow-down {
    @include create-piece-scroll-arrow;
    top: 20%;
}
