@import "../../variables.scss";
@import "../../../../styles/color-variables";

@mixin icon-img-window {
    @media screen and (min-device-width: 768px) {
        position: absolute;
        z-index: 0;
        height: 50%;
        width: 18.75%;
        top: 41.33%;
        background-color: #515151;
        border: solid 1px #a9a9a9;
        border-radius: 5px;
    }
    @media screen and (max-device-width: 767px) {
        position: absolute;
        z-index: 0;
        height: percentage($window-height/100);
        width: percentage($window-height*0.643/100);
        top: percentage(12/100);
        background-color: $dark-grey1;
        border: solid 1px $dark-grey5;
        border-radius: 5px;
    }
}
