@mixin piece-title {
    @media screen and (min-device-width: 768px) {
        position: absolute;
        z-index: 0;
        top: 25.33%;
        font-size: 115%;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        color: #a9a9a9;
    }
    @media screen and (max-device-width: 767px) {
        position: absolute;
        z-index: 1;
        top: 0%;
        font-size: 100%;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        color: #a9a9a9;
    }
}
