@mixin title {
    position: absolute;
    z-index: 4;
    left:0%;
    height:0%;
    width: 90%;
    height: 7.5%;
    color: #a9a9a9;
    font-size: 180%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top-left-radius: 15px;
}