@import "../../../styles/button/icon-button";
@import "../../../styles/button//icon-button-left";
@import "../../../styles/button//icon-button-top";
@import "../../../styles/button//icon-button-text";
@import "../heights";

@mixin choose-button {
    @include icon-button($button-height);
    @media screen and (min-device-width: 768px) {
        top: 71%;
    }
    @media screen and (max-device-width: 767px) {
        text-align: center;
    }
}

.icon-tool .white-choose {
    @include choose-button;
    @media screen and (min-device-width: 768px) {
        left: 2.5%;
    }
    @media screen and (max-device-width: 767px) {
        top: percentage(($margin + $button-disp * 2)/100);
    }
}

.icon-tool .black-choose {
    @include choose-button;
    @media screen and (min-device-width: 768px) {
        left: 51.75%;
    }
    @media screen and (max-device-width: 767px) {
        top: percentage(($margin + $button-disp * 3)/100);
    }
}

.icon-button-text {
    @include icon-button-text;
}
