@import "../icon-button.scss";
@import "../percent-values.scss";


@mixin icon-button-text {
    @media screen and (min-device-width: 768px) {
        position: absolute;
        top: -25%;
        left: 23%;
    }
    @media screen and (max-device-width: 767px) {
        position: relative;
        top: 15%;
        font-size: 85%;
        text-align: center;
        word-wrap: break-word;
    }
}
@mixin choose-button {
    @include icon-button($button-height);
    @media screen and (min-device-width: 768px) {
        top: 71%;
    }
    @media screen and (max-device-width: 767px) {
        text-align: center;
    }
}

.icon-tool .white-choose {
    @include choose-button;
    @media screen and (min-device-width: 768px) {
        left: 2.5%;
    }
    @media screen and (max-device-width: 767px) {
        top: 73%;
        left: 2%;
    }
}

.icon-tool .black-choose {
    @include choose-button;
    @media screen and (min-device-width: 768px) {
        left: 51.75%;
    }
    @media screen and (max-device-width: 767px) {
        top: 73%;
        left: 60%;
    }
}

.icon-button-text {
    @include icon-button-text;
}
