.choose-modal {
    @media screen and (min-device-width: 768px) {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
    @media screen and (max-device-width: 767px) {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
}

.choose-modal .choose-main {
    position: absolute;
    z-index: 2;
    background-color: #515151;
    border: 1px solid #a9a9a9;
    border-radius: 10px;
}

.display-block {
    display: initial;
}

.display-none {
    display: none;
}

.choose-main .title-container {
    position: absolute;
}

.choose-main .close {
    position: absolute;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    &:hover {
        z-index: 1;
        background-color: red;
    }
}

.choose-main .image-choices {
    position: absolute;
    z-index: 1;
    border: 1px solid #a9a9a9;
    background-color: #515151;
    border-radius: 3px;
    overflow-y: scroll;
}

.choose-main .bottom-bar {
    position: absolute;
}

.choose-main .selected-image-name {
    @media screen and (min-device-width: 768px) {
        position: absolute;
        color: #72e2ff;
        width: 57.5%;
        height: 100%;
        left: 42.5%;
        font-size: 180%;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.choose-main .hover-image-name {
    @media screen and (min-device-width: 768px) {
        position: absolute;
        color: #a9a9a9;
        width: 20.5%;
        height: 100%;
        left: 18%;
        font-size: 110%;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    @media screen and (max-device-width: 767px) {
        display: none;
    }
}
