@media screen and (min-device-width: 768px) {
  .icon-tool .white-choose {
    position: absolute;
    z-index: 0;
    width: 24.25%;
    height: 16.67%;
    padding-top: 6px;
    text-align: center;
    color: #bbbbbb;
    background-color: #515151;
    border: solid 1px #a9a9a9;
    font-size: 110%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    cursor: pointer;
  }
  .icon-tool .white-choose:hover {
    color: white;
    background-color: #a9a9a9;
  }
}

@media screen and (max-device-width: 767px) {
  .icon-tool .white-choose {
    position: absolute;
    z-index: 0;
    width: 20%;
    height: 10%;
    left: 40%;
    color: #bbbbbb;
    background-color: #515151;
    border: solid 1px #454849;
    font-size: 80%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    cursor: pointer;
  }
  .icon-tool .white-choose:hover {
    color: white;
    background-color: #a9a9a9;
  }
}

@media screen and (min-device-width: 768px) {
  .icon-tool .white-choose {
    top: 71%;
  }
}

@media screen and (max-device-width: 767px) {
  .icon-tool .white-choose {
    text-align: center;
  }
}

@media screen and (min-device-width: 768px) {
  .icon-tool .white-choose {
    left: 2.5%;
  }
}

@media screen and (max-device-width: 767px) {
  .icon-tool .white-choose {
    top: 73%;
    left: 2%;
  }
}

@media screen and (min-device-width: 768px) {
  .icon-tool .black-choose {
    position: absolute;
    z-index: 0;
    width: 24.25%;
    height: 16.67%;
    padding-top: 6px;
    text-align: center;
    color: #bbbbbb;
    background-color: #515151;
    border: solid 1px #a9a9a9;
    font-size: 110%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    cursor: pointer;
  }
  .icon-tool .black-choose:hover {
    color: white;
    background-color: #a9a9a9;
  }
}

@media screen and (max-device-width: 767px) {
  .icon-tool .black-choose {
    position: absolute;
    z-index: 0;
    width: 20%;
    height: 10%;
    left: 40%;
    color: #bbbbbb;
    background-color: #515151;
    border: solid 1px #454849;
    font-size: 80%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    cursor: pointer;
  }
  .icon-tool .black-choose:hover {
    color: white;
    background-color: #a9a9a9;
  }
}

@media screen and (min-device-width: 768px) {
  .icon-tool .black-choose {
    top: 71%;
  }
}

@media screen and (max-device-width: 767px) {
  .icon-tool .black-choose {
    text-align: center;
  }
}

@media screen and (min-device-width: 768px) {
  .icon-tool .black-choose {
    left: 51.75%;
  }
}

@media screen and (max-device-width: 767px) {
  .icon-tool .black-choose {
    top: 73%;
    left: 60%;
  }
}

@media screen and (min-device-width: 768px) {
  .icon-button-text {
    position: absolute;
    top: -25%;
    left: 23%;
  }
}

@media screen and (max-device-width: 767px) {
  .icon-button-text {
    position: relative;
    top: 15%;
    font-size: 85%;
    text-align: center;
    word-wrap: break-word;
  }
}
/*# sourceMappingURL=ChooseButton.css.map */