@import "../../../styles/color-variables";

@mixin profile {
    z-index: 2;
    width: 100%;
    background-color: $dark-grey2;
    border: 1px solid $dark-grey5;
    border-radius: 5px;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.image-choices .image-choice-container {
    @include profile;
}

.image-choices .selected-image-choice-container {
    @include profile;
    box-shadow: 0px 0px 16px white;
    color: white;
}

.image-choices .image-choice {
    position: relative;
    width: 95%;
    max-height: 95%;
    margin: 2.5%;
}

.image-choices .piece-name {
    position: relative;
    top: -8%;
    width: 100%;
    height: 7.5%;
    color: #72e2ff;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
