@import "../../../../../styles/button/button-text-and-color";

.bottom-bar .ok-active {
    @include button-text-and-color("dark2");
    cursor: pointer;
    &:hover {
        color: #4f4f4f;
        background-color: #a9a9a9;
    }
}
