.offset-label {
    display: block;
    height: 15px;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    fill: white;
}
