.x-offset {
    display: block;
    height: 20px;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    fill: white;

}
