.new-game-spans-header {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-rows: 30px;
    grid-template-columns: 370px 30px;
    column-gap: 20px;
    border: 1px solid #707070;
}

.new-game-offsets-header {
    grid-row: 1;
    grid-column: 3;
    display: grid;
    grid-template-rows: 30px;
    grid-template-columns: 370px 30px;
    column-gap: 20px;
    border: 1px solid #707070;
}

    .new-game-piece-wb-piece-name {
        grid-row: 1;
        grid-column: 1;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        padding-top: 6px;
        padding-left: 50px;
        color: #a9a9a9;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .new-game-piece-expand-modal {
        grid-row: 1;
        grid-column: 2;
        cursor: pointer;
    }