.new-game-spans-table {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 336px;
    grid-template-rows: 12px 19px 19px 19px 19px 19px 12px;
    border: 0.8px solid #707070
}

.new-game-offsets-table {
    grid-column: 3;
    grid-row: 2;
    display: grid;
    grid-template-columns: 336px;
    grid-template-rows: 12px 19px 19px 19px 19px 19px 12px;
    border: 0.8px solid #707070;
}

.customize-range-list-item1 {
    grid-column: 1;
    grid-row: 2;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    color: #a9a9a9;
    background-color: #5D5D5D;
}

.customize-range-list-item2 {
    grid-column: 1;
    grid-row: 3;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    color: #a9a9a9;
    background-color: #515151;
}

.customize-range-list-item3 {
    grid-column: 1;
    grid-row: 4;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    color: #a9a9a9;
    background-color: #5D5D5D;
}

.customize-range-list-item4 {
    grid-column: 1;
    grid-row: 5;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    color: #a9a9a9;
    background-color: #515151;
}

.customize-range-list-item5 {
    grid-column: 1;
    grid-row: 6;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    color: #a9a9a9;
    background-color: #5D5D5D;
}