

.new-game-w-or-b-profile {
    z-index: inherit;
    display: grid;
    height: 180px;
    grid-template-columns: 150px 420px 420px;
    grid-template-rows: 30px 150px;
    margin-top: 20px;
    background-color: #515151;
    overflow: hidden;
    text-overflow: ellipsis;
}
    
    .new-game-w-or-b-profile-img-label {
        grid-column:1;
        grid-row: 1;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        padding-top: 6px;
        color: #a9a9a9;
        border: 1px solid #707070;
    }

    .new-game-w-or-b-profile-img-window {
        z-index: inherit;
        grid-column: 1;
        grid-row: 2;
        object-fit: cover;
        border: 1px solid #707070;
    }

        .new-game-w-or-b-profile-img-window img {
            z-index: inherit;
            width: 150px; 
            height: 150px;
            border-radius: 5px;
        }

    .new-game-w-or-b-profile-spans-label {
        grid-column: 2;
        grid-row: 1;
        
    }

    .new-game-w-or-b-profile-offsets-label {
        grid-column: 3;
        grid-row: 1;
        
    }
