.customize-sub-dropdown {
    position: relative;
    grid-column: 3;
    color: #a9a9a9;
    width: 75%;
    height: 60%;
    top: 18%;
    font-size: 120%;
    border-radius: 5px;
    background-color:#515151;
    cursor: pointer;
}