.options-div {
    position: absolute;
    top: 640px;
    left: 876px;
    height: 100px;
    width: 400px;
    border-radius: 10px;
    background-color: #515151;
}

.option {
    position: absolute;
    width: 55px;
    height: 75px;
    top: 12px;
    cursor: pointer;
}

.save-option {
    left: 10px;
}

.load-option {
    left: 95px;
}

.reset-option {
    left: 180px;
}

.blank-option {
    left: 265px;
}

.theme-option {
    left: 338px;
}