.options-tool {
    position: absolute;
    z-index: 0;
    top: 640px;
    left: 876px;
    height: 100px;
    width: 400px;
    border-radius: 10px;
    background-color: #515151;
}

.option {
    z-index: 1;
    position: absolute;
    width: 55px;
    height: 75px;
    top: 654px;
    cursor: pointer;
}

.save-option {
    left: 886px;
}

.load-option {
    left: 981px;
}

.reset-option {
    left: 1056px;
}

.blank-option {
    left: 1131px;
}

.theme-option {
    left: 1206px;
}