.range-tool {
    position: absolute;
    width: 400px;
    height: 151px;
    /* top: 315px;
    left: 876px; */
    background-color: #515151;
    border-radius: 15px;
    border-color: #a9a9a9;
}

.range-tool .range-title {
    position: absolute;
    left: 10px;
    top: 10px;
}

.range-tool .display-window {
    position: absolute;
    left: 10px;
    top: 41px;
    width: 241px;
    height: 100px;
    border-radius: 5px;
    background-color: #515151;
    border: 1px solid #A9A9A9;
    color: #a9a9a9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.range-tool .direction-pad {
    position: absolute;
    size: 100px;
    left: 290px;
    top: 41px;
}

.range-tool .button-selected {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #EC2525;
    border: 1px solid #A9A9A9;
    border-radius: 5px;
    cursor: pointer;
}

.range-tool .button-normal {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #515151;
    border: 1px solid #A9A9A9;
    border-radius: 5px;
    cursor: pointer;
}

.button-selected .vector {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 5px;
    top: 5px;
}

.button-normal .vector {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 5px;
    top: 5px;
}


/* .button-normal img.center {
    display: block;
    margin: 0 auto;
} */

/* .button-selected img.center {
    display: block;
    margin: 0 auto;
} */

