@import "../../../styles/color-variables";

.range-tool {
    @media screen and (min-device-width: 768px) {
        position: absolute;
        z-index: 0;
        background-color: #515151;
        border-radius: 15px;
        border-color: #a9a9a9;
    }
    @media screen and (max-device-width: 767px) {
        position: absolute;
        z-index: 0;
        border-radius: 15px;
        border-color: #a9a9a9;
    }
}
