@mixin close($src) {
    position: absolute;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url($src);
}

.close-dark-on {
    @include close("/Images/close/on/dark.svg");
}
.close-dark-off {
    @include close("/Images/close/off/dark.svg");
}
