
/*
 * mixins:
 */

@function get-bg-color($row-num) {
    @if $row-num % 2 == 0 {
        @return #5d5d5d;
    } @else {
        @return #515151;
    }
}

@mixin scroll-item($row-num) {
    grid-row: $row-num;
    color: #a9a9a9;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    background-color: get-bg-color($row-num);
}

@mixin arrow {
    cursor: pointer;
    background-color: #515151;
    &:hover {
        background-color: #5d5d5d;
    }
}

/**
 **grid types:
 */

.scroll-table {
    position: relative;
    display: grid;
    grid-template-rows: 7.5% 17% 17% 17% 17% 17% 7.5%;
}

/**
 **grid items:
 */

.up-arrow {
    grid-row: 1;
    @include arrow;
}
.scroll-table-item1 {
    @include scroll-item(2);
}
.scroll-table-item2 {
    @include scroll-item(3);
}
.scroll-table-item3 {
    @include scroll-item(4);
}
.scroll-table-item4 {
    @include scroll-item(5);
}
.scroll-table-item5 {
    @include scroll-item(6);
}
.down-arrow {
    grid-row: 7;
    @include arrow;
}

.scroll-arrow-img {
    // position: absolute;
    height: 5%;
    width: 5%;
    left: 48%;
}