.author-github-regular-link {
    z-index: inherit;
    grid-row: 1;
    grid-column: 8;
    font-size:18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 2px;
    text-decoration: none;
    /* border: 1px dashed white; */
} 