
.customise-window {
    position: relative;
    left: 50%;
    z-index: 1;
    background-color: #515151;
    height: 1070px;
    width: 1020px;
    left: 500px;
    bottom: 8%;
    border: 1px solid #969696;
}

.display-on {
    display: initial;
}

.display-off {
    display: none;
}