
.customise-window {
    position: relative;
    left: 50%;
    z-index: 1;
    background-color: #515151;
    height: 1100px; /**/
    width: 1020px; /**/
    left: 300px; /**/
    bottom: 5%;
    border: 1px solid #969696;
}

.display-on {
    display: initial;
}

.display-off {
    display: none;
}