.promo-all {
    position: absolute;
    display: grid;
    left: 280px;
    top: 10px;
    grid-template-columns: 108px 60px; 
    grid-template-rows: 36px; 
    text-align: left;
    /* border: 1px dashed white; */
}

.promo-all-label {
    grid-column: 1;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    /* border: 1px dashed white; */
}

.promo-all-checkbox-container {
    grid-column: 2;
    /* border: 1px dashed white; */
}

.promo-all-checkbox {
    width: 18px; 
    height: 18px; 
    background-color: #515151;
    border: 2px solid #969696;
    border-radius: 5px;
} .promo-all-checkbox:hover {
    cursor: pointer;
}

.checked {
    position: absolute;
    max-height: 18px; 
    max-width: 18px; 
    padding: 1px;
    object-fit: contain;
}
