.bottom-bar .promo-label {
    grid-column: 3;
    grid-row: 1 / 2;
    color: white;
     text-align: center;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 25px;
     border-bottom: 1px solid #969696;
     /* border: 1px dashed white; */
}

.bottom-bar .promo-list {
    grid-column: 3;
    grid-row: 2 / 6;
    /* border: 1px dashed white; */
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #a9a9a9;
}