.chess-rules-small-link {
    grid-row: 1;
    grid-column: 5;
    /*border: 1px dashed white;*/
}

    .navbar-small-chess-rules-small-tooltiptext {
        visibility: hidden;
        width: 40px;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: 22px;
        left: 175px;
    }

    .chess-rules-small-link:hover .navbar-small-chess-rules-small-tooltiptext {
        visibility: visible;
    }
