
.icon-tool {
    position: absolute;
    left: 876px;
    top: 158px;
    width: 400px;
    height: 147px;
    background-color: #515151;
    border: solid 1px #a9a9a9;
    border-radius: 10px;
}

.icon-tool .icon-title {
    position: absolute;
    left: 10px;
    top: 10px;
}

.icon-tool .black-title {
    position: absolute;
    left: 207px;
    top: 38px;
}

.icon-tool .white-title {
    position: absolute;
    left: 10px;
    top: 38px;
}

.icon-tool .white-choose {
    position: absolute;
    background-color: #515151;
    border: solid 1px #a9a9a9;
    border-radius: 5px;
    left: 10px;
    top:  105px;
    width: 98px;
    height: 32px;
}
.icon-tool .black-choose {
    position: absolute;
    background-color: #515151;
    border: solid 1px #a9a9a9;
    border-radius: 5px;
    left: 207px;
    top: 105px;
    width: 98px;
    height: 32px;
}

.icon-tool .white-upload {
    position: absolute;
    background-color: #515151;
    border: solid 1px #a9a9a9;
    border-radius: 5px;
    left: 10px;
    top: 62px;
    width: 98px;
    height: 32px;
}

.icon-tool .black-upload {
    position: absolute;
    background-color: #515151;
    border: solid 1px #a9a9a9;
    border-radius: 5px;
    left: 207px;
    top: 62px;
    width: 98px;
    height: 32px;
}

.icon-tool .white-window {
    position: absolute;
    height: 75px;
    width: 75px;
    top: 62px;
    background-color: #515151;
    border: solid 1px #a9a9a9;
    border-radius: 5px;
    left: 118px;
}

.icon-tool .black-window {
    position: absolute;
    height: 75px;
    width: 75px;
    top: 62px;
    background-color: #515151;
    border: solid 1px #a9a9a9;
    border-radius: 5px;
    left: 315px;
}
