@import "../../../../../styles/modal-window1-components/window";
@import "../../../../../styles/modal-window1-components/text";
@import "../../../../../styles/button/button-style";

.confirm-box {
    @include window;
}

.yes-button {
    @include button-style("dark");
}

.no-button {
    @include button-style("dark");
}

.label1 {
    position: absolute;
    z-index: inherit;
    width: 100%;
    top: 0%;
    width: 100%;
    height: 10%;
    color: #b6b6b6;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 180%;
    padding-top: 8px;
    text-align: center;
    // border: 1px dashed #1bfaae;
}

.piece-name {
    position: absolute;
    z-index: inherit;
    top: 35%;
    width: 100%;
    height: 30%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #b6b6b6;
    font-size: 180%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    // border: 1px dashed #1bfaae;
}

.label2 {
    position: absolute;
    z-index: inherit;
    top: 65%;
    width: 100%;
    height: 20%;
    color: #b6b6b6;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 180%;
    padding-top: 8px;
    text-align: center;
    // border: 1px dashed #1bfaae;
}
