
.name-component1 {
    position: absolute;
    z-index: 0;
    background-color: #515151;
    border-radius: 15px;
    width: 400px;
    height: 70px;
    top: 149px;
    left: 876px;
} 

.name-component1 .name
{
    position: absolute;
    z-index: 0;
    font-family: 'Segoe UI', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #a9a9a9;
    top: 10px;
    left:10px;
} 

.name-component1 .form1 {
    position: absolute;
    z-index: 0;
    top: 38px;
    left: 10px;
    width: 375px;
    height: 21px;
    border-radius: 5px;
    fill: black;
    color: #A9A9A9;
    background-color: #515151;
    border: 1px solid #A9A9A9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
} 
.form1[type=text]:focus {
    border: 1px solid #72e2ff;
  }