
.home-regular {
    z-index: inherit;
    grid-row: 1;
    grid-column: 1;
    font-size:24px;
    font-family:Tahoma;
    padding-top: 2px;
    text-decoration: none;
    border-right: 1px solid darkgreen;
    /* border: 1px dashed white; */
}

