@import "./get-button-colors";

@mixin button-text-and-color($theme) {
    position: absolute;
    z-index: inherit;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: get-button-text-color($theme);
    background-color: get-button-bg-color($theme);
    border: get-button-border-color($theme);
    overflow: hidden;
    text-overflow: ellipsis;
}