@import "./get-button-colors";
@import "./button-text-and-color";

@mixin button-style($theme) {
    /*% units*/
        @include button-text-and-color($theme);
        cursor: pointer;
     &:hover {
        color: get-button-hover-text-color($theme);
        background-color: get-button-hover-bg-color($theme);
    }   
}