@import "../color-variables";

$bg-colors: (
    "dark": $dark-grey1,
    "light": $green1,
    "dark2": $dark-grey2
);
$border-colors: (
    "dark": 1px solid $dark-grey4,
    "light": 1px solid $light-green1,
    "dark2": 1px solid $light-grey1
);
$text-colors: (
    "dark": $light-grey2,
    "light": $light-green1,
    "dark2": $light-grey1
);

$hover-bg-colors: (
    "dark": $light-grey2,
    "light": $light-green1,
    "dark2": $light-grey1
);

$hover-text-colors: (
    "dark": $dark-grey2,
    "light": $green1,
    "dark2": $dark-grey2
);


@function get-button-text-color($theme) {
    @return map-get($text-colors, $theme);
}

@function get-button-hover-text-color($theme) {
    @return map-get($hover-text-colors, $theme);
}

@function get-button-bg-color($theme) {
    @return map-get($bg-colors, $theme);
}

@function get-button-hover-bg-color($theme) {
    @return map-get($hover-bg-colors, $theme);
}

@function get-button-border-color($theme) {
    @return map-get($border-colors, $theme)
}