@mixin icon-button-text {
    @media screen and (min-device-width: 768px) {
        position: absolute;
        top: -25%;
        left: 23%;
    }
    @media screen and (max-device-width: 767px) {
        position: relative;
        top: 15%;
        // left: 20%;
        font-size: 85%;
        text-align: center;
        word-wrap: break-word;
    }
}
