@mixin location-button($button-size) {

    @media screen and (min-width: 768px) {
        position: absolute;
        width: percentage(40/400);
        height: percentage(42/95);
        top: 40%;
        border-radius: 10px;
    }
    @media screen and (max-width: 767px) {
        position: absolute;
        width: percentage($button-size/100);
        height: percentage($button-size/100);
        border-radius: 5px;
        top: 45%;
    }
}