.created-piece-profile .profile-header .checkbox {
    position: relative;
    z-index: inherit;
    grid-row: 1;
    grid-column: 1;
    width: 35px;
    height: 35px;
    top: 10px;
    left: 10px;
    background-color: #515151;
    border: 3px solid #707070;
    border-radius: 10px;
    cursor: pointer;
} .created-piece-profile .profile-header .checkbox .checkmark {
    position: relative;
    z-index: inherit;
    object-fit: contain;
    width: 35px;
    height: 35px;
}
