//values are percent that are given the unit of a perccent by percent(%n\100)
// $window-height-desktop: 50;
// $window-height-mobile: 75;
$button-height: 18.5;
$first-margin: 5;
$margin: $first-margin;
$button-disp: $button-height + $margin;