@media screen and (min-device-width: 768px) {
  .icon-tool {
    position: absolute;
    height: 19.49%;
    background-color: #515151;
    border-radius: 10px;
  }
}

@media screen and (max-device-width: 767px) {
  .icon-tool {
    position: absolute;
    z-index: 0;
    height: 45%;
    width: 16.8696%;
    top: 9%;
    background-color: #515151;
    border-radius: 10px;
  }
}

@media screen and (min-device-width: 768px) {
  .icon-tool .icon-title {
    position: absolute;
    z-index: 0;
    left: 2.5%;
    top: 3%;
    font-size: 125%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #a9a9a9;
  }
}

@media screen and (max-device-width: 767px) {
  .icon-tool .icon-title {
    display: none;
  }
}

@media screen and (min-device-width: 768px) {
  .icon-tool .black-title {
    position: absolute;
    z-index: 0;
    top: 25.33%;
    font-size: 115%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #a9a9a9;
  }
}

@media screen and (max-device-width: 767px) {
  .icon-tool .black-title {
    position: absolute;
    z-index: 1;
    top: 0%;
    font-size: 100%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #a9a9a9;
  }
}

@media screen and (min-device-width: 768px) {
  .icon-tool .black-title {
    left: 51.75%;
  }
}

@media screen and (max-device-width: 767px) {
  .icon-tool .black-title {
    left: 73.5%;
  }
}

@media screen and (min-device-width: 768px) {
  .icon-tool .white-title {
    position: absolute;
    z-index: 0;
    top: 25.33%;
    font-size: 115%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #a9a9a9;
  }
}

@media screen and (max-device-width: 767px) {
  .icon-tool .white-title {
    position: absolute;
    z-index: 1;
    top: 0%;
    font-size: 100%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #a9a9a9;
  }
}

@media screen and (min-device-width: 768px) {
  .icon-tool .white-title {
    left: 2.5%;
  }
}

@media screen and (max-device-width: 767px) {
  .icon-tool .white-title {
    left: 14%;
  }
}

@media screen and (min-device-width: 768px) {
  .icon-tool .white-window {
    left: 29.5%;
  }
}

@media screen and (min-device-width: 768px) and (min-device-width: 768px) {
  .icon-tool .white-window {
    position: absolute;
    z-index: 0;
    height: 50%;
    width: 18.75%;
    top: 41.33%;
    background-color: #515151;
    border: solid 1px #a9a9a9;
    border-radius: 5px;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 767px) {
  .icon-tool .white-window {
    position: absolute;
    z-index: 0;
    height: 57.5%;
    width: 36.9725%;
    top: 12%;
    background-color: #5d5d5d;
    border: solid 1px #3c3f41;
    border-radius: 5px;
  }
}

@media screen and (max-device-width: 767px) {
  .icon-tool .white-window {
    left: 2%;
  }
}

@media screen and (max-device-width: 767px) and (min-device-width: 768px) {
  .icon-tool .white-window {
    position: absolute;
    z-index: 0;
    height: 50%;
    width: 18.75%;
    top: 41.33%;
    background-color: #515151;
    border: solid 1px #a9a9a9;
    border-radius: 5px;
  }
}

@media screen and (max-device-width: 767px) and (max-device-width: 767px) {
  .icon-tool .white-window {
    position: absolute;
    z-index: 0;
    height: 57.5%;
    width: 36.9725%;
    top: 12%;
    background-color: #5d5d5d;
    border: solid 1px #3c3f41;
    border-radius: 5px;
  }
}

@media screen and (min-device-width: 768px) {
  .icon-tool .black-window {
    left: 78.75%;
  }
}

@media screen and (min-device-width: 768px) and (min-device-width: 768px) {
  .icon-tool .black-window {
    position: absolute;
    z-index: 0;
    height: 50%;
    width: 18.75%;
    top: 41.33%;
    background-color: #515151;
    border: solid 1px #a9a9a9;
    border-radius: 5px;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 767px) {
  .icon-tool .black-window {
    position: absolute;
    z-index: 0;
    height: 57.5%;
    width: 36.9725%;
    top: 12%;
    background-color: #5d5d5d;
    border: solid 1px #3c3f41;
    border-radius: 5px;
  }
}

@media screen and (max-device-width: 767px) {
  .icon-tool .black-window {
    left: 60%;
  }
}

@media screen and (max-device-width: 767px) and (min-device-width: 768px) {
  .icon-tool .black-window {
    position: absolute;
    z-index: 0;
    height: 50%;
    width: 18.75%;
    top: 41.33%;
    background-color: #515151;
    border: solid 1px #a9a9a9;
    border-radius: 5px;
  }
}

@media screen and (max-device-width: 767px) and (max-device-width: 767px) {
  .icon-tool .black-window {
    position: absolute;
    z-index: 0;
    height: 57.5%;
    width: 36.9725%;
    top: 12%;
    background-color: #5d5d5d;
    border: solid 1px #3c3f41;
    border-radius: 5px;
  }
}
/*# sourceMappingURL=Icon.css.map */