//values are percent that are given the unit of a perccent by percent(%n\100)
$button-height: 10;
$first-margin: 5;
$margin: $first-margin;
$button-disp: $button-height + $margin;
$window-height: 57.5;