

.create-piece-w-or-b-profile {
    z-index: inherit;
    display: grid;
    height: 135px;
    grid-template-columns: 112.5px 315px 315px;
    grid-template-rows: 22.5px 112.5px;
    margin-top: 15px;
    background-color: #515151;
    overflow: hidden;
    text-overflow: ellipsis;
}
    
    .create-piece-w-or-b-profile-img-label {
        grid-column:1;
        grid-row: 1;
        font-size: 11.25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        padding-top: 4.5px;
        color: #a9a9a9;
        border: 0.75px solid #707070;
    }

    .create-piece-w-or-b-profile-img-window {
        z-index: inherit;
        grid-column: 1;
        grid-row: 2;
        object-fit: cover;
        border: 0.75px solid #707070;
    }

        .create-piece-w-or-b-profile-img-window img {
            z-index: inherit;
            width: 112.5px; 
            height: 112.5px;
            border-radius: 3.75px;
        }

    .create-piece-w-or-b-profile-spans-label {
        grid-column: 2;
        grid-row: 1;
        
    }

    .create-piece-w-or-b-profile-offsets-label {
        grid-column: 3;
        grid-row: 1;
        
    }
