
.create-piece-spans-up-arrow {
    grid-column: 1;
    grid-row: 1;
    cursor: pointer;
}

.create-piece-spans-down-arrow {
    grid-column: 1;
    grid-row: 7;
    cursor: pointer;
}

 .create-piece-offsets-up-arrow {
    grid-column: 1;
    grid-row: 1;
    cursor: pointer;
}

 .create-piece-offsets-down-arrow {
    grid-column: 1;
    grid-row: 7;
    cursor: pointer;
}

.scroll-arrow {
    position: relative;
    top: -3px;
    left: 155.25px;
    width: 4.5px;
    height: 3.75px;
}