@import "../../../styles/button/icon-button";
@import "../../../styles/button/icon-button-left";
@import "../../../styles/button/icon-button-top";
@import "../../../styles/button/icon-button-text";
@import "../heights";

@mixin upload-button {
    @include icon-button($button-height);
    @media screen and (min-device-width: 768px) {
        top: 41.33%;
    }
    @media screen and (max-device-width: 767px) {
        text-align: center;
    }
}

.icon-tool .white-upload {
    @include upload-button;
    @media screen and (min-device-width: 768px) {
        left: 2.5%;
    }
    @media screen and (max-device-width: 767px) {
        top: percentage($margin/100);
    }
}

.icon-tool .black-upload {
    @include upload-button;
    @media screen and (min-device-width: 768px) {
        left: 51.75%;
    }
    @media screen and (max-device-width: 767px) {
        top: percentage(($margin + $button-disp)/100);
    }
}

.icon-button-text {
    @media screen and (min-device-width: 768px) {
        @include icon-button-text;
    }
    @media screen and (max-device-width: 767px) {
        display: none;
    }
}

.icon-button-text-mobile1 {
    @media screen and (min-device-width: 768px) {
        display: none;
    }
    @media screen and (max-device-width: 767px) {
        @include icon-button-text;
    }
}
