@import "../icon-button.scss";
@import "../percent-values";

@mixin upload-button {
    @include icon-button($button-height);
    @media screen and (min-device-width: 768px) {
        top: 41.33%;
    }
    @media screen and (max-device-width: 767px) {
        text-align: center;
    }
}

.icon-tool .white-upload {
    @include upload-button;
    @media screen and (min-device-width: 768px) {
        left: 2.5%;
    }
    @media screen and (max-device-width: 767px) {
        top: 86.5%;
        left: 2%;
    }
}

.icon-tool .black-upload {
    @include upload-button;
    @media screen and (min-device-width: 768px) {
        left: 51.75%;
    }
    @media screen and (max-device-width: 767px) {
        top: 86.5%;
        left: 60%;
    }
}

.icon-button-text {
    @include icon-button-text;
}
