.show-offsets-checkbox {
    position: absolute;
    top: 4px;
    left: 156px;
    width: 8px;
    height: 8px;
    background-color: #515151;
    border: 1px solid #a9a9a9;
    border-radius: 3px;
    cursor: pointer;
} 
.range-checkmark {
    position: absolute;
    width: 8px;
    height: 8px;
    object-fit: contain;
} 