.range-tool .range-title {
    @media screen and (min-device-width: 768px) {
        position: absolute;
        z-index: 0;
        left: 2.5%;
        top: 2.5%;
        font-size: 150%;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        color: #a9a9a9;
    }
    @media screen and (max-device-width: 767px) {
        display: none;
    }
}
