.options-tool {
    position: absolute;
    z-index: 0;
    top: 85%;
    left: 57%;
    height: 14.4%;
    width: 26%;
    border-radius: 10px;
    background-color: #515151;
}

.options-title {
    @media screen and (min-device-width: 768px) {
        position: absolute;
        z-index: 0;
        left: 2.5%;
        top: 5%;
        font-size: 125%;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        color: #a9a9a9;
    }
    @media screen and (max-device-width: 767px) {
        display: none;
    }
}

$first-option-y: 2.5%;
$option-disp: 25%;

$margin: 7.5;
$option-height: 45;
$option-width: $option-height * 0.7353;
$disp-y: $option-height + $margin;
$disp-x: $option-width + $margin*3.75;

@mixin option {
    position: absolute;
    z-index: 1;
    @media screen and (min-device-width: 768px) {
        width: 12.25%;
        height: 63.5%;
        top: 30%;
        cursor: pointer;
    }
    @media screen and (max-device-width: 767px) {
        position: absolute;
        z-index: 1;
        width: percentage($option-width/100);
        height: percentage($option-height/100);
        left: percentage($margin/100);
    }
}

.save-option {
    @include option;
    @media screen and (min-device-width: 768px) {
        left: $first-option-y + $option-disp * 0;
    }
    @media screen and (max-device-width: 767px) {
        top: 0;
        left: percentage($margin/100);
    }
}

.load-option {
    @include option;
    @media screen and (min-device-width: 768px) {
        left: $first-option-y + $option-disp * 1;
    }
    @media screen and (max-device-width: 767px) {
        top: 0;
        left: percentage($disp-x/100);
    }
}

.reset-option {
    @include option;
    @media screen and (min-device-width: 768px) {
        left: $first-option-y + $option-disp * 2;
    }
    @media screen and (max-device-width: 767px) {
        top: percentage($disp-y/100);
        left: percentage($margin/100);
    }
}

.blank-option {
    @include option;
    @media screen and (min-device-width: 768px) {
        left: $first-option-y + $option-disp * 3;
    }
    @media screen and (max-device-width: 767px) {
        top: percentage($disp-y/100);
        left: percentage($disp-x/100);
    }
}

// .theme-option {
//     @include option;
//     @media screen and (min-device-width: 768px) {
//         left: $first-option-y + $option-disp * 4;
//     }
//     @media screen and (max-device-width: 767px) {
        
//     }
// }

.option-img {
    position: absolute;
    width: 100%;
    height: 100%;
}
