.choose-main .hover-image-name {
    @media screen and (min-device-width: 768px) {
        position: absolute;
        color: #a9a9a9;
        width: 20.5%;
        height: 100%;
        left: 20%;
        font-size: 110%;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    @media screen and (max-device-width: 767px) {
        display: none;
    }
}
