.choose-main .selected-image-name {
    @media screen and (min-device-width: 768px) {
        position: absolute;
        color: #72e2ff;
        width: 57.5%;
        height: 100%;
        left: 42.5%;
        font-size: 180%;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
