
.tan-background {
    background-color: #d7bb99;
}

.tan-background-alt {
    background-color: #111111;
}

.dark-background {
    background-color: #2b2b2b;
}

.star_wars-background {
    background-image: url("./backgrounds/star_wars.jpg");
}