
.light-background {
    background-color: #d7bb99;
    background-repeat: repeat;
    -o-object-fit: none;
    object-fit: none;
}

.dark-background {
    background-color: #2b2b2b;
    background-repeat: repeat;
    -o-object-fit: none;
    object-fit: none;
}