$dark-grey1: #515151;
$dark-grey2: #606060;
$dark-grey3: #5d5d5d;
$light-grey1: #a9a9a9;
$light-grey2: #b6b6b6;
$green1: #008000;
$light-green1: #b1faae;
$red1: #EC2525;
$dark-red1:  #8b0000;
$light-blue1: #72e2ff;
$light-blue2:  #00CCFF;
$background-tan: #edc9a2ff;