$dark-grey1: #515151;
$dark-grey2: #5d5d5d;
$dark-grey3: #616161;
$dark-grey4: #454849;
$dark-grey5: #3c3f41;
$dark-grey6: #333638;
$dark-grey7: #2b2b2b;
$light-grey1: #a9a9a9;
$light-grey2: #b6b6b6;
$light-grey3: #a2a2a2;
$light-grey4: #6D6D6D;
$light-grey5: #616161;
$green1: #008000;
$light-green1: #b1faae;
$dark-in-range: #fdfd35;
$light-in-range: #ddff00;
$red1: #ec2525;
$dark-red1: #8b0000;
$light-blue1: #72e2ff;
$light-blue2: #00ccff;
$background-tan: #edc9a2ff;
$jetbrains-button-fill: #4c5052;
$jetbrains-odd-row: #464a4d;
$jetbrains-even-row: #3c3f41;
$toolbar-dark-border: #363636;
$jetbrains-blue:  #4b6eaf;
$jetbrains-red: #af4b4b;
$mechwarrior-text: #f5b400;
$firebase-guest-button: #f5b400;
$firebase-phone-sign-in: #43c4a5;
$light-red: #ff6464;
$light-red2: #ff3c46;
$dark-red1: #c60116;
$dark-red2: #b80209;
$light-blue: #28b8eb;
$light-blue2: #028bb8;
$light-blue3: #40b0cd;
$dark-blue4: #5757c1;
$dark-blue2: #7878ff;
$light-blue2: #b8028b;
$dark-purple1: #b828eb;
$dark-purple2: #8b02b8;
$chess-dot-com-dark: #779556;
$chess-dot-com-light: #ebecd0;
$tan-theme-text: #d7bb99;
$mui-blue-1: #00b0ff;
$mui-blue-2: #0081cb;
$star-wars1: #ffe81e;
$star-wars2: #f6b601;
$star-wars-blue: #28ded3;
$nba-blue: #253b73;
$nba-red: #b52532;
$brownish: #2a88a5;
$light-red: #ff2a00;
$dark-red: #cb001e;
$light-blue: #00b0ff;
$dark-blue: #0081cbff;
$modal-actions: #90caf9;