$dark-grey1: #5d5d5d;
$dark-grey2: #515151;
$dark-grey3: #4d4d4d;
$dark-grey4: #454849;
$dark-grey5: #3c3f41;
$dark-grey6: #333638;
$dark-grey7: #2b2b2b;
$light-grey1: #a9a9a9;
$light-grey2: #b6b6b6;
$light-grey3: #a2a2a2;
$light-grey4: #6D6D6D;
$light-grey5: #616161;
$green1: #008000;
$light-green1: #b1faae;
$red1: #EC2525;
$dark-red1:  #8b0000;
$hover-blue1: #5d5dd5;
$light-blue1: #72e2ff;
$light-blue2:  #00CCFF;
$light-blue3:  #4b6eaf;
$slate-blue: #6a5acd;
$background-tan: #edc9a2ff;
