@mixin search-box {
    height: 19.2px;
    width: 304px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #c4c4c4;
    background-color: #515151;
    border-radius: 7.2px;
    border: none;
    outline: none;
}