@import "./_upload-button";

.icon-tool .black-upload {
    @include upload-button;
    @media screen and (min-device-width: 768px) {
        left: 51.75%;
    }
    @media screen and (max-device-width: 767px) {
        top: 86.5%;
        left: 60%;
    }
}
