@mixin location-button {
    position: absolute;
    z-index: 0;
    width: 7.5%;
    height: 35.7%;
    top: 45.2%;
    border-radius: 5px;
    color: #a9a9a9;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}