.promotion-checkbox .checkbox {
    width: 18px; 
    height: 18px; 
    margin-top: 9px; 
    background-color: #515151;
    border: 2px solid #969696;
    border-radius: 5px;
} .promotion-checkbox .checkbox:hover {
    cursor: pointer;
}
.promotion-checkbox .checkbox .checkmark {
    position: absolute;
    max-height: 18px; 
    max-width: 18px; 
    padding: 1px;
    object-fit: contain;
}
