
.piece-profiles {
    position: absolute;
    z-index: inherit;
    top: 50px;
    display: grid;
    grid-template-columns:  1fr;
    background-color: #515151;
    border-top: 1px solid black;
    height: 800px;
    width: 1020px;
    overflow: scroll;
}

.profile {
    z-index: inherit;
    height: 480px;
    border-bottom: 1px solid black;
}

    /*container for w-or-b-profile*/
    .profile-item {
        z-index: inherit;
        height: 180px;
        background-color: #515151;
        margin-bottom: 20px;
    }

    .profile-header {
        display: grid;
        z-index: inherit;
        width: 900px;
        grid-template-rows: 60px;
        grid-template-columns: 180px 240px 260px;
        margin-bottom: 10px;
        /*border: 1px dashed white;*/
        /* column-gap: 10px; */
    }

        .profile-header .name-of-piece {
            z-index: inherit;
            grid-row: 1;
            grid-column: 1;
            padding-top: 16px; 
            padding-left: 9px; 
            padding-bottom: 3px; 
            border-radius: 3px; 
            color: white;
            font-size: 20px; 
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            overflow: hidden;
            text-overflow: ellipsis;
            /*border: 1px dashed white;*/
        }


    .profile-header .promotion {
        z-index: inherit;
        display: grid;
        grid-row: 1;
        grid-column: 2;
        grid-template-columns: 108px 60px; 
        grid-template-rows: 36px; 
        text-align: left;
        /*border: 1px dashed white;*/
    }

        .promotion .promotion-label {
            z-index: inherit;
            grid-column: 1;
            text-align: left;
            padding-top: 16px; 
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 20px; 
            color: white;
            /*border: 1px dashed white;*/
        }

        .promotion .promotion-checkbox {
            z-index: inherit;
            margin-top: 10px;
            margin-left: 8px;
            grid-column: 2;
            /*border: 1px dashed white;*/
        }

    .profile-header .substitute {
        z-index: inherit;
        display: grid;
        grid-template-columns: 60px 24px; 
        grid-row: 1;
        grid-column: 3;
        /*border: 1px dashed white;*/
    }

        .substitute .sub-label {
            z-index: inherit;
            grid-column: 1;
            grid-row: 1;
            color: white;
            text-align: left;
            margin-left: 6px; 
            padding-top: 17px; 
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 20px; 
            /*border: 1px dashed white;*/
        }

        .substitute .sub-dropdown {
            z-index: inherit;
            grid-column: 2;
            width: 180px; 
            grid-row: 1;
            margin-top: 11px; 
            margin-left: 6px; 
            /*border: 1px dashed white;*/
        }

