.accept-redirect {
    position: absolute;
    z-index: inherit;
    left: 138px;
    top: 228px;
    width: 110px;
    height: 30px;
    color: #b6b6b6;
    background-color: #515151;
    border: 1px solid #b6b6b6;
    border-radius: 7px;
    font-family: Tahoma;
    font-size: 20px;
    padding-top: 8px;
    text-align: center;
    cursor: pointer;
} .accept-redirect:hover {
    background-color: #b6b6b6;
    color: #515151;
  }