.nav-expand {
    position: absolute;
    width: 10px;
    height: 31px;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #006400;
} .nav-expand:hover { 
    background-color: #006400;
}