$b-rad: 12px;

@mixin profiles {
    position: absolute;
    z-index: inherit;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #515151;
    border-top: 1px solid #707070;
    // border-bottom: 1px solid #707070;
    overflow-y: scroll;
    overflow-x: hidden;
}

.profiles {
    @include profiles;
}

