@import "../styles/button/button-style";
@import "../styles/grc";

.profile-load-button {
    @include button-style("dark");
    top: 22.5%;
    left: 86%;
}

.profile-delete-button {
    @include button-style("dark");
    top: 22.5%;
    left: 93%;
}
