@import "../../styles/sqr/get-ai-sqr-background-img";

@mixin ai-sqr($theme, $start-or-dest) {
    position: absolute;
    width: 12.5%;
    height: 12.5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: get-ai-sqr-background-img($theme, $start-or-dest);
}

/*light theme*/
.ai-start-sqr-light {
    @include ai-sqr("light", "start");
}
.ai-dest-sqr-light {
    @include ai-sqr("light", "dest");
}
