@mixin board-header-text($color, $text-align, $z) {
    z-index: $z;
    color: $color;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: $text-align;
    overflow: hidden;
    text-overflow: ellipsis;
}

.board-header-label {
    position: absolute;

    @include board-header-text(black, center, 4);
}


.board-header-grid {
    position: absolute;
    z-index: 4;
    display: grid;
    grid-template-columns: 48.67% 48.67%;
    column-gap: 2.66%;

    .board-header-turn {
        grid-column: 1;
        @include board-header-text(black, right, inherit);
    }

    .board-header-condition {
        grid-column: 2;
        @include board-header-text(red, left, inherit);
    }
}