@mixin range-display-tool {
    position: absolute;
    z-index: 5;
    background-color: green;
    border-radius: 10px;
}
@mixin show-moves-label {
    position:absolute;
    width: 140px;
    height:16px;
    left:20px;
    top:14px;
    text-align:left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.range-display-expanded {
    @include range-display-tool;
    .show-moves-label {
        @include show-moves-label;
    }
}

.range-display-colapsed {
    @include range-display-tool;
    .show-moves-label {
        @include show-moves-label;
    }
}