@import "../../styles/sqr";
@import "../../styles/get-sqr-hover-color";

@mixin sqr($height, $theme, $parity, $property) {
    position: absolute;
    z-index: 0;
    cursor: pointer;
    @include square($height, $theme, $parity, $property);
    &:hover {
        background-color: get-sqr-hover-color($theme);
    }
}

.green-sqr {
    @include sqr(75, "dark", "sqr2", "reg");
}

.white-sqr {
    @include sqr(75, "dark", "sqr1", "reg");
}

.jump-element {
    @include sqr(75, "dark", "sqr1", "offset");
}

.span-element {
    @include sqr(75, "dark", "sqr1", "span");
}
