@import "../styles/grc";

$page-icon-width: 100%; //100% of size asigned to it by grid
$help-icon-width: 3%;
$tog-nav-width: 1%;

@mixin text-container() {
    text-align: center;
    padding-top: 5%;
    color: #b6b6b6;
    font-size: 140%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    wordwrap: break-word;
}

@mixin nav-bar-button() {
    cursor: pointer;
    display: grid;
    width: $page-icon-width;
    grid-template-columns: 25% 75%;
    background-color: #515151;
    border-right: 1px solid #707070;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.nav-bar {
    /*expict width and height defined in-line style*/
    position: absolute;
    display: grid;
    z-index: 0;
    grid-template-columns: 3% 12% 12% 12% 12% 12% 12% 12% 12% 1%;

    .go-to-help {
        grid-column: 1;

        background-color: #515151;
        border-right: 1px solid #707070;
    }

    .go-to-home {
        grid-column: 2;
        @include nav-bar-button();
        z-index: 10;

        .home-icon {
            grid-row: 1;
            grid-column: 1;
        }
        .home-text {
            grid-row: 1;
            grid-column: 2;
            @include text-container();
        }
    }

    .go-to-new-game {
        grid-column: 3;
        @include nav-bar-button();
        z-index: 9;

        .new-game-icon {
            grid-row: 1;
            grid-column: 1;
        }
        .new-game-text {
            grid-row: 1;
            grid-column: 2;
            @include text-container();
        }
    }

    .go-to-load-game {
        grid-column: 4;
        z-index: 8;
        @include nav-bar-button();

        .go-to-load-game-icon {
            grid-row: 1;
            grid-column: 1;
        }
        .go-to-load-game-text {
            grid-row: 1;
            grid-column: 2;
            @include text-container();
        }
    }

    .go-to-create-piece {
        grid-column: 5;
        z-index: 7;
        @include nav-bar-button();

        .create-piece-icon {
            grid-row: 1;
            grid-column: 1;
        }
        .create-piece-text {
            grid-row: 1;
            grid-column: 2;
            @include text-container();
        }
    }

    .go-to-chess-rules {
        grid-column: 6;
        z-index: 6;
        @include nav-bar-button();

        .chess-rules-icon {
            grid-row: 1;
            grid-column: 1;
        }
        .chess-rules-text {
            grid-row: 1;
            grid-column: 2;
            @include text-container();
        }
    }

    .go-to-council-rules {
        grid-column: 7;
        z-index: 5;
        @include nav-bar-button();

        .council-rules-icon {
            grid-row: 1;
            grid-column: 1;
        }
        .council-rules-text {
            grid-row: 1;
            grid-column: 2;
            @include text-container();
        }
    }

    .go-to-my-pieces {
        grid-column: 8;
        z-index: 4;
        @include nav-bar-button();

        .my-pieces-icon {
            grid-row: 1;
            grid-column: 1;
        }
        .my-pieces-text {
            grid-row: 1;
            grid-column: 2;
            @include text-container();
        }
    }

    .go-to-author-github {
        grid-column: 9;
        z-index: 3;
        @include nav-bar-button();

        .author-github-icon {
            grid-row: 1;
            grid-column: 1;
        }
        .author-github-text {
            grid-row: 1;
            grid-column: 2;
            @include text-container();
        }
    }

    .togle-nav {
        grid-column: 10;
        z-index: 1;
        cursor: pointer;
    }
}
.nav-bar-icon-style {
    cursor: pointer;
    z-index: 0;
    width: 80%;
    margin-left: 14%;
    margin-top: 10%;
    margin-bottom: 3%;
}
.help-icon-style {
    cursor: pointer;
    z-index: 0;
    width: 80%;
    margin-left: 14%;
    margin-top: 10%;
    margin-bottom: 3%;
}
.togle-nav-widget-style {
    height: 100%;
    width: 100%;
}
