@import "../styles/grc";

$page-icon-width: 12%;
$help-icon-width: 3%;
$tog-nav-width: 1%;

@mixin togle-nav-widget() {
    cursor: pointer;
    position: relative;
    height: 50px;
    width: 25px;
    top: -10px;
}

@mixin text-container() {
    text-align: center;
    padding-top: 5%;
    color: #b6b6b6;
    font-size: 140%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    wordwrap: break-word;
}

@mixin nav-bar-button() {
    position: absolute;
    z-index: inherit;
    display: grid;
    width: $page-icon-width;
    grid-template-columns: 25% 75%;
    grid-template-rows: 100%;
    background-color: #515151;
    border-right: 1px solid #707070;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.nav-bar {
    /*expict width and height defined in-line style*/
    position: absolute;
    z-index: 0;
    border: 1px solid #707070;

    .go-to-help {
        position: absolute;
        width: $help-icon-width;
        left: 0;
        top: 0;
        z-index: 10;
        height: navBarHeight;
        background-color: #515151;
        border-right: 1px solid #707070;
    }

    .go-to-home {
        @include nav-bar-button();
        left: $help-icon-width;
        top: 0;
        z-index: 9;
        .home-icon {
            grid-row: 1;
            grid-column: 1;
        }
        .home-text {
            grid-row: 1;
            grid-column: 2;
            @include text-container();
        }
    }

    .go-to-new-game {
        @include nav-bar-button();
        left: $help-icon-width + $page-icon-width;
        top: 0;
        z-index: 9;
        .new-game-icon {
            grid-row: 1;
            grid-column: 1;
        }
        .new-game-text {
            grid-row: 1;
            grid-column: 2;
            @include text-container();
        }
    }

    .go-to-load-game {
        @include nav-bar-button();
        left: $help-icon-width + $page-icon-width * 2;
        top: 0;
        .go-to-load-game-icon {
            grid-row: 1;
            grid-column: 1;
        }
        .go-to-load-game-text {
            grid-row: 1;
            grid-column: 2;
            @include text-container();
        }
    }

    .go-to-create-piece {
        @include nav-bar-button();
        left: $help-icon-width + $page-icon-width * 3;
        top: 0;
        .create-piece-icon {
            grid-row: 1;
            grid-column: 1;
        }
        .create-piece-text {
            grid-row: 1;
            grid-column: 2;
            @include text-container();
        }
    }

    .go-to-chess-rules {
        @include nav-bar-button();
        left: $help-icon-width + $page-icon-width * 4;
        top: 0;
        .chess-rules-icon {
            grid-row: 1;
            grid-column: 1;
        }
        .chess-rules-text {
            grid-row: 1;
            grid-column: 2;
            @include text-container();
        }
    }

    .go-to-council-rules {
        @include nav-bar-button();
        left: $help-icon-width + $page-icon-width * 5;
        top: 0;
        .council-rules-icon {
            grid-row: 1;
            grid-column: 1;
        }
        .council-rules-text {
            grid-row: 1;
            grid-column: 2;
            @include text-container();
        }
    }

    .go-to-my-pieces {
        @include nav-bar-button();
        left: $help-icon-width + $page-icon-width * 6;
        top: 0;
        .my-pieces-icon {
            grid-row: 1;
            grid-column: 1;
        }
        .my-pieces-text {
            grid-row: 1;
            grid-column: 2;
            @include text-container();
        }
    }

    .go-to-author-github {
        @include nav-bar-button();
        left: $help-icon-width + $page-icon-width * 7;
        top: 0;
        .author-github-icon {
            grid-row: 1;
            grid-column: 1;
        }
        .author-github-text {
            grid-row: 1;
            grid-column: 2;
            @include text-container();
        }
    }

    .togle-nav {
        position: absolute;
        left: $help-icon-width + $page-icon-width * 8;
        top: 0;
        left: $page-icon-width * 8;
        cursor: pointer;
    }
}

.nav-bar-icon-style {
    cursor: pointer;
    position: relative;
    width: 80%;
    margin-top: 7.5%;
    // margin-bottom: 10%;
    left: 10%;
}
