
.new-game-profile {
    z-index: inherit;
    height: 384px;
    border-bottom: 0.8px solid #707070;
}

    /*container for w-or-b-profile*/
    .new-game-profile-item {
        z-index: inherit;
        height: 144px;
        background-color: #515151;
        margin-bottom: 16px;
    }

    .new-game-profile-header {
        display: grid;
        z-index: inherit;
        width: 720px;
        grid-template-rows: 24px;
        grid-template-columns: 160px 80px 214.4px 208px;
        margin-bottom: 8px;
        /* column-gap: 8px; */
    }

        .new-game-promotion {
            z-index: inherit;
            display: grid;
            grid-row: 1;
            grid-column: 3;
            grid-template-columns: 96px 117.60000000000001px; 
            grid-template-rows: 24px; 
            text-align: left;
        }

            .new-game-promotion-label {
                z-index: inherit;
                grid-column: 1;
                grid-row: 1;
                text-align: left;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 16px;
                padding-left: 6.4px;
                padding-top: 2.4000000000000004px;
                color: #a9a9a9;
            }

            .new-game-promotion-checkbox-container {
                z-index: inherit;
                grid-column: 2;
            }


        .new-game-substitute {
            z-index: inherit;
            display: grid;
            grid-template-columns: 48px 217.60000000000002px; 
            grid-row: 1;
            grid-column: 4;
        }

            .new-game-sub-label {
                z-index: inherit;
                grid-column: 1;
                grid-row: 1;
                color: #a9a9a9;
                text-align: left;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 16px;
                padding-top: 1.6px;
            }

            .new-game-sub-dropdown-container {
                z-index: inherit;
                grid-column: 2;
                grid-row: 1;
                margin-left: 4.800000000000001px;
            }
