
.customize-titlebar {
    position: absolute;
    color: #b6b6b6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.customize-bottom-bar {
    position: absolute;
    background-color: #515151;
    border-top: 1px solid #707070;
}