.new-game-customize-top-bar-search {
    position: absolute;
    z-index: inherit;
    width: 280px;
    height: 26px;
    left: 720px;
    top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #515151;
    border: 2px solid #707070;
    border-radius: 9px;
}
.new-game-customize-top-bar-search-magnifying-glass {
    position: absolute;
    left: 4px; 
    width:16px; 
    height:16px;
    margin-top: 6px;
}
.new-game-customize-top-bar-search-box {
    position: absolute;
    left: 21px;
    top: 0px;
    height: 24px;
    width: 253px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #c4c4c4;
    /* color: #5c9fd2; */
    background-color: #515151;
    border: none;
    border-radius: 9px;
    outline: none;
}

