@mixin text-area {
    color: #b6b6b6;
    background-color: #515151;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 560px;
    max-height: 150px;
    text-align: center;
    font-size: 15px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 16px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    word-wrap: break-word;
    overflow-x: hidden;
    text-overflow: ellipsis;
}