// @import "./text-area";

@mixin text {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    height: 50%;
    z-index: inherit;
    color: #b6b6b6;
    background-color: #515151;
    font-size: 145%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    word-wrap: break-word;
    overflow-y: hidden;
    text-overflow: ellipsis;
}
