@mixin text-area {
    color: #b6b6b6;
    background-color: #515151;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    word-wrap: break-word;
    overflow-x: hidden;
    text-overflow: ellipsis;
}