
@mixin top {
    position:absolute; 
    grid-row: 1;
    grid-column: 1;
    background-color: #515151;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: grid;
    grid-template-rows: 30px;
    grid-template-columns: 752px 8px;
}