.save-piece-modal {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.saving-ellipsis {
    position: absolute;
    left: 40%;
    top: 50%;
    margin: auto;
    font-size: 100px;
    color: yellow;
}
