@import "./scss/location-tool";
@import "./scss/location-title";
@import "./scss/location-button-label";
@import "./scss/location-button-normal";
@import "./scss/location-button-selected";

@media screen and (min-device-width: 768px) {
    $button-size: 12;
    $margin: 1;
    $first-margin: 3;
    $disp: $button-size + $margin;
    .location-button-normal {
        @include location-button-normal($button-size);
        .location-button-label {
            @include location-button-label;
        }
    }
    .location-button-selected {
        @include location-button-selected($button-size);
        .location-button-label {
            @include location-button-label;
        }
    }

    .location-tool {
        @include location-tool;
        .location-title {
            @include location-title;
        }
        .d4 {
            left: percentage($first-margin/100);
        }
        .e4 {
            left: percentage(($first-margin + $disp)/100);
        }
        .d5 {
            left: percentage(($first-margin + $disp * 2)/100);
        }
        .e5 {
            left: percentage(($first-margin + $disp * 3)/100);
        }
    }
}

@media screen and (max-device-width: 767px) {
    $button-size: 43.5;
    $margin: 4;
    $disp: $button-size + $margin*2;

    .location-button-normal {
        @include location-button-normal($button-size);
        .location-button-label {
            @include location-button-label;
        }
    }
    .location-button-selected {
        @include location-button-selected($button-size);
        .location-button-label {
            @include location-button-label;
        }
    }

    .location-tool {
        @include location-tool;
        .location-title {
            @include location-title;
        }
        .d4 {
            top: percentage($disp/100);
            left: percentage($margin/100);
        }
        .e4 {
            top: percentage($disp/100);
            left: percentage($disp/100);
        }
        .d5 {
            top: percentage($margin/100);
            left: percentage($margin/100);
        }
        .e5 {
            top: percentage($margin/100);
            left: percentage($disp/100);
        }
    }
}
