
.confirm-box {
    position: absolute;
    display: block;
    z-index: 3;
    left: 50%;
    top: 50%;
    width: 596px;
    height: 299px;
    background-color: #515151;
    border: 2px solid white;
    border-radius: 10px;
}

.yes-button {
    position: absolute;
    z-index: inherit;
    left: 138px;
    top: 228px;
    width: 136px;
    height: 45px;
    color: white;
    background-color: #515151;
    border: 1px solid white;
    border-radius: 10px;
} .yes {
    position: absolute;
    z-index: inherit;
    color: white;
    font-size: 25px;
    left: 50px;
    top: 13px;
    width: 35px;
    height: 17px;
    font-family: Tahoma;
}
  .yes-button:hover {
    background-color: red;
  }

.no-button {
    position: absolute;
    z-index: inherit;
    left: 326px;
    top: 228px;
    width: 136px;
    height: 45px;
    background-color: #515151;
    border: 1px solid white;
    border-radius: 10px;
}  .no {
        position: absolute;
        z-index: inherit;
        color: white;
        font-size: 25px;
        left: 58px;
        top: 13px;
        width: 28px;
        height: 17px;
        font-family: Tahoma;
  }
    .no-button:hover {
      background-color: red;
    }

.label1 {
    position: absolute;
    z-index: inherit;
    left: 244px;
    top: 47px;
    max-width: 128px;
    max-height: 19px;
    color: white;
    text-align: center;
}

.label2 {
    position: absolute;
    z-index: inherit;
    left: 129px;
    top: 125px;
    max-width: 382px;
    max-height: 19px;
    color: white;
    text-align: center;
}

.piece-name {
  position: absolute;
  z-index: inherit;
  left: 129px;
  top: 82px;
  width: 382px;
  height: 25px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}