
$length: 1vw;

.tan-background {
    background-color: #d7bb99;

    /* width */
    ::-webkit-scrollbar {
        width: $length;
        height: $length;
    }

    /* button */
    ::-webkit-scrollbar-button {
        background: #262626;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #222222;
        opacity: 0.5%;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #353535;
        opacity: 0.5%;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #131313;
    }

    /* Corner */
    ::-webkit-scrollbar-corner {
        background: #0b0b0b;
    }

    /* Resizer */
    ::-webkit-resizer {
        background: #000000;
    }

}

.tan-background-alt {
    background-color: #111111;

    /* width */
    ::-webkit-scrollbar {
        @media screen and (max-width: 960px) {
            width: $length;
            height: $length;
        }
        @media screen and (min-width: 960px) {
            width: 0.5rem;
            height: 0.5rem;
        }
    }

    /* button */
    ::-webkit-scrollbar-button {
        background: #262626;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #222222;
        opacity: 0.5%;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #353535;
        opacity: 0.5%;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #131313;
    }

    /* Corner */
    ::-webkit-scrollbar-corner {
        background: #0b0b0b;
    }

    /* Resizer */
    ::-webkit-resizer {
        background: #000000;
    }

}

.dark-background {
    background-color: #2b2b2b;

    /* width */
    ::-webkit-scrollbar {
        @media screen and (max-width: 960px) {
            width: $length;
            height: $length;
        }
        @media screen and (min-width: 960px) {
            width: 0.5rem;
            height: 0.5rem;
        }
    }

    /* button */
    ::-webkit-scrollbar-button {
        background: #3f3f3f;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #474747;
        opacity: 0.5%;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #666666;
        opacity: 0.5%;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #3f3f3f;
    }

    /* Corner */
    ::-webkit-scrollbar-corner {
        background: #3f3f3f;
    }

    /* Resizer */
    ::-webkit-resizer {
        background: #111;
    }

}

.red_blue-background {
    background-color: #2b2b2b;

    /* width */
    ::-webkit-scrollbar {
        @media screen and (max-width: 960px) {
            width: $length;
            height: $length;
        }
        @media screen and (min-width: 960px) {
            width: 0.5rem;
            height: 0.5rem;
        }
    }

    /* button */
    ::-webkit-scrollbar-button {
        background: #3f3f3f;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #474747;
        opacity: 0.5%;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #666666;
        opacity: 0.5%;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #3f3f3f;
    }

    /* Corner */
    ::-webkit-scrollbar-corner {
        background: #3f3f3f;
    }

    /* Resizer */
    ::-webkit-resizer {
        background: #111;
    }

}

.star_wars-background {
    background-image: url("star_wars.jpg");

    /* width */
    ::-webkit-scrollbar {
        @media screen and (max-width: 960px) {
            width: $length;
            height: $length;
        }
        @media screen and (min-width: 960px) {
            width: 0.5rem;
            height: 0.5rem;
        }
    }

    /* button */
    ::-webkit-scrollbar-button {
        background: #3f3f3f;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #474747;
        opacity: 0.5%;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #666666;
        opacity: 0.5%;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #3f3f3f;
    }

    /* Corner */
    ::-webkit-scrollbar-corner {
        background: #3f3f3f;
    }

    /* Resizer */
    ::-webkit-resizer {
        background: #111;
    }

}

.mechwarrior_a_team-background {
    background-size: cover;
    background: #a8271a url("red desert.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* width */
    ::-webkit-scrollbar {
        @media screen and (max-width: 960px) {
            width: $length;
            height: $length;
        }
        @media screen and (min-width: 960px) {
            width: 0.5rem;
            height: 0.5rem;
        }
    }

    /* button */
    ::-webkit-scrollbar-button {
        background: #3f3f3f;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #474747;
        opacity: 0.5%;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #666666;
        opacity: 0.5%;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #3f3f3f;
    }

    /* Corner */
    ::-webkit-scrollbar-corner {
        background: #3f3f3f;
    }

    /* Resizer */
    ::-webkit-resizer {
        background: #111;
    }

}

.mechwarrior_b_team-background {
    background-size: cover;
    background: #a8271a url("red desert.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* width */
    ::-webkit-scrollbar {
        @media screen and (max-width: 960px) {
            width: $length;
            height: $length;
        }
        @media screen and (min-width: 960px) {
            width: 0.5rem;
            height: 0.5rem;
        }
    }

    /* button */
    ::-webkit-scrollbar-button {
        background: #3f3f3f;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #474747;
        opacity: 0.5%;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #666666;
        opacity: 0.5%;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #3f3f3f;
    }

    /* Corner */
    ::-webkit-scrollbar-corner {
        background: #3f3f3f;
    }

    /* Resizer */
    ::-webkit-resizer {
        background: #111;
    }

}

.NBA-background {
    background-image: url("hardwood.jpg");
    background-repeat: repeat;

    /* width */
    ::-webkit-scrollbar {
        @media screen and (max-width: 960px) {
            width: $length;
            height: $length;
        }
        @media screen and (min-width: 960px) {
            width: 0.5rem;
            height: 0.5rem;
        }
    }

    /* button */
    ::-webkit-scrollbar-button {
        background: #3f3f3f;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #474747;
        opacity: 0.5%;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #666666;
        opacity: 0.5%;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #3f3f3f;
    }

    /* Corner */
    ::-webkit-scrollbar-corner {
        background: #3f3f3f;
    }

    /* Resizer */
    ::-webkit-resizer {
        background: #111;
    }
}