@import "../styles/grc";

@mixin wb-profile {
    z-index: inherit;
    display: grid;
    grid-template-columns: 15% 40.55% 40.55%;
    grid-template-rows: 10% 80%;
    column-gap: 2%;
    margin-top: 1%;
    margin-left: 1%;
    background-color: #515151;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin piece-img-label {
    grid-column:1;
    grid-row: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;    
    color: #a9a9a9;
    border: 0.8px solid #707070;
}

@mixin piece-img-window {
    z-index: inherit;
    grid-column: 1;
    grid-row: 2;
    object-fit: cover;
    border: 0.8px solid #707070;
    &:img {
        z-index: inherit;
        width: 100%; 
        height: 100%; 
        padding-bottom: 14.4px; 
        border-radius: 4px;
    }
}

@mixin wb-piece-type {
    grid-row: 1;
    grid-column: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    padding-top: 4.8px;
    color: #a9a9a9;
    text-align: center;
    padding-left: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.w-or-b-profile {
    @include wb-profile;
    .img-label {
        @include piece-img-label;
    }
    .img-window {
        @include piece-img-window;
    }
    .spans-label {
        @include grc(1, 2);
    }
    .offsets-label {
        @include grc(1, 3);
    }
}

.piece-profile-img {
    width: 100%;
    height: 100%;
}