@import "../styles/grc";

@mixin direction-arrow($row, $col) {
    @include grc($row, $col);
    cursor: pointer;
}
.spans-up-arrow {
    @include direction-arrow(1, 1);
}
.spans-down-arrow {
    @include direction-arrow(7, 1);
}
.offsets-up-arrow {
    @include direction-arrow(1, 1);
}
.offsets-down-arrow {
    @include direction-arrow(7, 1);
}
.scroll-arrow {
    position: relative;
    // top: 5%;
    left: 47.5%;
    width: 5%;
    height: 70%;
}
