.interactive-board {
    position: absolute;
    z-index: 1;
    width: 800px;
    height: 800px;
    left: 263px;
    top: 77px;
    line-height: 0;
}
.display-board {
    position: absolute;
    z-index: 0;
    width: 800px;
    height: 800px;
    left: 263px;
    top: 77px;
    line-height: 0;
    box-shadow: 0px 0px 20px white;
}
