.interactive-board {
    position: absolute;
    z-index: 2;
    width: 600px;
    height: 600px;
    left: 468px;
    top: 100px;
    line-height: 0;
}
.display-board {
    position: absolute;
    z-index: 0;
    width: 600px;
    height: 600px;
    left: 468px;
    top: 100px;
    line-height: 0;
    box-shadow: 0px 0px 20px white;
}
