
  .sqr1 {
    display: inline-block;
    z-index: 2;
    width: 75px;
    height: 75px;  
  }

  .sqr2 {
    display: inline-block;
    z-index: 2;
    width: 75px;
    height: 75px;  
  }

  .sqr1-in-range {
    display: inline-block;
    z-index: 2;
    background-color: rgb(221, 255, 0);
    opacity: 60%;
    width: 75px;
    height: 75px;  
  }

  .sqr2-in-range {
    display: inline-block;
    z-index: 2;
    background-color: rgb(253, 253, 53);
    opacity: 60%;
    width: 75px;
    height: 75px;  
  }
