
  .img-group {
    cursor: pointer; 
    display: block;
    float: left; 
    background-color: white;
    border: 3px solid slateblue;
    position: absolute; 
    right: 40vw; 
    top: 5vh; 
    z-index: 1;
  }
  
  /* Add a background color on hover */
 .img-group :hover {
    background-color: #3e8e41;
  }