.range-layer-board {
    position: absolute;
    z-index: 1;
    width: 600px;
    height: 600px;
    left: 280px;
    top: 180px;
    line-height: 0;
}

.range-layer-sqr {
    display: inline-block;
    z-index: 1;
    width: 75px;
    height: 75px;
}

