.save-resign-tool {
    position: absolute;
    z-index: 1;
    left: 980px;
    top: 110px;
    width: 200px;
    height: 110px;
    background-color: green;
    border-radius: 10px;
}

.save-game-container {
    position: absolute;
    z-index: 1;
    left: 12px;
    top: 27px;
    width: 66px;
    height: 74px;
    cursor: pointer;
}

.resign-container {
    position: absolute;
    z-index: 1;
    left: 122px;
    top: 27px;
    width: 66px;
    height: 74px;
    cursor: pointer;
}

.save-resign-img {
    width: 66px;
    height: 74px;
}

.game-description {
    position: absolute;
    width: 200px;
    /* border: 1px dashed purple; */
}

.game-name {
    position: absolute;
    width: 100px;
    height: 20px;
    color: #b1faae;
    font-family: Tahoma;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border: 1px dashed goldenrod; */
}

.gen-info {
    position: absolute;
    left: 105px;
    top: 3px;
    color: #b1faae;
    font-size: 10px;
    font-family: Tahoma;
    text-align: left;
}