.save-game {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-rows: 20px 40px;
    grid-template-columns: 50px;
    border: 1px dashed green;
}

.save-game .label {
    grid-row: 1;
    grid-column: 1;
    color: black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    border: 1px dashed purple;
}

.save-game .button {
    grid-row: 2;
    grid-column: 1;
    object-fit: contain;
    border: 1px dashed orange;
}