.save-button {
    position: absolute;
    top: 880px;
    left: 1040px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    border: 1px solid white;
}