.save-resign-tool {
    position: absolute;
    z-index: 1;
    left: 980px;
    top: 110px;
    width: 200px;
    height: 100px;
    background-color: green;
    border-radius: 10px;
}

.save-game-container {
    position: absolute;
    z-index: 1;
    left: 12px;
    top: 14px;
    width: 66px;
    height: 74px;
    cursor: pointer;
}

.resign-container {
    position: absolute;
    z-index: 1;
    left: 122px;
    top: 14px;
    width: 66px;
    height: 74px;
    cursor: pointer;
}

.save-resign-img {
    width: 66px;
    height: 74px;
}
