
.direction-pad .button-selected {
    position: absolute;
    z-index: 0;
    width: 30%;
    height: 30%;
    background-color: #ec2525;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    cursor: pointer;
}
