.button-selected .vector {
    position: absolute;
    z-index: 0;
    width: 66.667%;
    height: 66.667%;
    left: 16.66%;
    top: 16.66%;
}

.button-normal .vector {
    position: absolute;
    z-index: 0;
    width: 66.667%;
    height: 66.667%;
    left: 16.66%;
    top: 16.66%;
}