@mixin piece-profiles-title {
    position: relative;
    height: 32px;
    width: 160px;
    color: #a9a9a9;
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 3.2px;
}