@mixin piece-img-label {
    grid-column:1;
    grid-row: 1;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 4px;
    color: #a9a9a9;
    border: 0.8px solid #707070;
}