@import "../grc";

@function get-bg-color($row-num) {
    @if $row-num % 2 == 0 {
        @return  #5D5D5D;
    }
    @else {
        @return #515151;
    }
}

@mixin range-list-item($row-num, $col-num) {
    @include grc($row-num, $col-num);
    color: #a9a9a9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 9.6px;
    text-align: left;
    padding-top: 6.4px;
    background-color: get-bg-color($row-num);
}