
.my-spans-up-arrow {
    grid-column: 1;
    grid-row: 1;
    cursor: pointer;
}

.my-spans-down-arrow {
    grid-column: 1;
    grid-row: 7;
    cursor: pointer;
}

 .my-offsets-up-arrow {
    grid-column: 1;
    grid-row: 1;
    cursor: pointer;
}

 .my-offsets-down-arrow {
    grid-column: 1;
    grid-row: 7;
    cursor: pointer;
}

.scroll-arrow {
    position: relative;
    top: -3.2px;
    left: 165.60000000000002px;
    width: 4.800000000000001px;
    height: 4px;
}