.my-pieces-profile {
    z-index: inherit;
    height: 372px;
    border-top: 0.8px solid #707070;
} 

.my-pieces-profile-header {
    position: relative;
    z-index: inherit;
    display: grid;
    grid-template-columns: 644px 76px 76px;
    column-gap: 16px;
    width: 800px;
    height: 32px;
    background-color: #515151;
    margin-bottom: 4px;
}

.my-piece-name {
    grid-row: 1;
    grid-column: 1;
    color: #a9a9a9;
    font-size: 20px;
    padding-top: 6.4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    padding-left: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.my-pieces .profiles .profile .header .load-button-container {
    grid-row: 1;
    grid-column: 2;

}

.my-pieces .profiles .profile .header .delete-button-container {
    grid-row: 1;
    grid-column: 3;

}