

.w-or-b-profile {
    z-index: inherit;
    display: grid;
    height: 144px;
    grid-template-columns: 120px 336px 336px;
    grid-template-rows: 24px 120px;
    column-gap: 16px;
    margin-top: 16px;
    margin-left: 4px;
    background-color: #515151;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .w-or-b-profile .my-img-label {
        grid-column:1;
        grid-row: 1;
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        padding-top: 4.800000000000001px;
        color: #a9a9a9;
        border: 0.8px solid #707070;
    }

    .w-or-b-profile .my-img-window {
        z-index: inherit;
        grid-column: 1;
        grid-row: 2;
        object-fit: cover;
        border: 0.8px solid #707070;
    }

        .w-or-b-profile .my-img-window img {
            z-index: inherit;
            width: 86.4px; 
            height: 86.4px; 
            padding-bottom: 14.4px; 
            border-radius: 4px;
        }

    .w-or-b-profile .my-spans-label {
        grid-column: 2;
        grid-row: 1;
        
    }

    .w-or-b-profile .my-offsets-label {
        grid-column: 3;
        grid-row: 1;
        
    }
