
.choose-modal {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

    .choose-modal .choose-main {
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 45%;
      width: 1600px;
      height: 800px;
      background-color: #515151;
      border: 1px solid lightgray;
      transform: translate(-50%,-50%);
    }

    .display-block {
      display: initial;
    }
    
    .display-none {
      display: none;
    }

      .choose-main .title-div {
        position: absolute;
        z-index: 1;
        width: 1600px;
        height: 80px;
        top: 23px;
        font: normal 20px Tahoma;
        text-align: center;
      } .title-div .title {
          z-index: 1;
          margin: auto;
          width: 50%;
          height: 85%;
          fill: white;
        }
        .choose-main .close {
          position: absolute;
          z-index: 1;
          width: 24px;
          height: 24px;
          left: 1575px;
        } .close:hover {
          z-index: 1;
          background-color: red;
        } .close .x {
          position: absolute;
          z-index: 1;
          top: 4px;
          left: 3px;
          right: 5px;
          bottom: 5px;
          max-width: 20px;
        }

      .choose-main .pieces-profiles {
        position: absolute;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        top: 100px;
        left: 50px;
        bottom: 150px;
        width: 1500px;
        height: 630px;
        background-color: #515151;
        border: 1px solid #a9a9a9;
        overflow-y: scroll;
      }

      .choose-main  .bottom-bar {
        position: absolute;
        z-index: 1;
        width: 1502px;
        height: 68px;
        top: 730px;
        left: 50px;
      }
  
