.icon-tool .white-choose {
    position: absolute;
    z-index: 0;
    color: #bbbbbb;
    background-color: #515151;    
    border: solid 1px #a9a9a9;
    border-radius: 5px;
    cursor: pointer;
    left: 10px;
    top:  105px;
    width: 98px;
    height: 32px;
}.white-choose:hover {
    /* color: #00CCFF;
    border-color: #00CCFF; */
    color: white;
    background-color: #a9a9a9;
}

.icon-tool .black-choose {
    position: absolute;
    z-index: 0;
    color: #bbbbbb;
    background-color: #515151;    
    border: solid 1px #a9a9a9;
    border-radius: 5px;
    cursor: pointer;
    left: 207px;
    top: 105px;
    width: 98px;
    height: 32px;
} .black-choose:hover {
    /* color: #00CCFF;
    border-color: #00CCFF; */
    color: white;
    background-color: #a9a9a9;
}
