.bottom-bar .ok {
    position: absolute;
    z-index: 1;
    top:   12px;
    width: 120px;
    height: 48px;
    border: 1px solid white;
    background-color: #515151;
    color: white;
    text-align: center;
    font: normal 25px tahoma;
}
.ok-text {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 45px;
}

