
.choose-modal {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .choose-modal .choose-main {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 45%;
    width: 1600px;
    height: 800px;
    background-color: #515151;
    border: 1px solid lightgray;
    transform: translate(-50%,-50%);
  }

  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }