.new-game-accept-customization {
    position: absolute;
    z-index: 2;
    width: 90px; 
    height: 40px; 
    left: 1180px; 
    top: 1180px; 
    font-size: 18px;
    color: #b6b6b6;
    background-color: #6c6c6c;
    border: 1px solid #7e7e7e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 6px;
    cursor: pointer;
}
.new-game-accept-customization:hover {
    color: #606060;
    background-color: #b6b6b6;
} 