.span-expand {
    grid-column: 4;
    grid-row: 2;
    height: 12px;
    width: 12px;
} .span-expand:hover {
    cursor: pointer;
}

.offsets-expand {
    grid-column: 4;
    grid-row: 3;
    height: 12px;
    width: 12px;
}