.new-game-color-expand {
    z-index: inherit;
    grid-column: 4;
    grid-row: 1;
    height: 12px;
    width: 12px;
    padding-top: 15px;
} .new-game-color-expand:hover {
    cursor: pointer;
}

.new-game-span-expand {
    z-index: inherit;
    grid-column: 4;
    grid-row: 2;
    height: 12px;
    width: 12px;
    padding-top: 15px;
} .new-game-span-expand:hover {
    cursor: pointer;
}

.new-game-offsets-expand {
    z-index: inherit;
    grid-column: 4;
    grid-row: 3;
    height: 12px;
    width: 12px;
    padding-top: 15px;
} .new-game-offsets-expand:hover {
    cursor: pointer;
}

