

.new-game-w-or-b-profile {
    z-index: inherit;
    display: grid;
    grid-template-columns: 180px 100px 650px 50px;
    grid-template-rows: 60px 60px 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .new-game-w-or-b-profile-img-window {
        z-index: inherit;
        grid-row: 1 / 4;
        grid-column: 1;
        object-fit: cover;
        /*border: 1px dashed white;*/
    }

        .new-game-w-or-b-profile-img-window img {
            z-index: inherit;
            width: 108px; 
            height: 108px; 
            padding-bottom: 18px; 
            /* border-radius: 5px; */
        }

    .new-game-w-or-b-profile-color-label {
        z-index: inherit;
        grid-row: 1;
        grid-column: 2;
        color: white;
        font-size: 12px; 
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-bottom: 6px; 
        /*border: 1px dashed white;*/
        margin-bottom: 6px; 
    }

    .new-game-w-or-b-profile-color-value {
        z-index: inherit;
        grid-column: 3;
        grid-row: 1;
        color: white;
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px; 
        overflow: hidden;
        text-overflow: ellipsis;
        /*border: 1px dashed white;*/
        margin-bottom: 12px; 
    }

    .new-game-w-or-b-profile-spans-label {
        z-index: inherit;
        grid-row: 2;
        grid-column: 2;
        color: white;
        font-size: 12px; 
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 6px; 
        /*border: 1px dashed white;*/
    }

    .new-game-w-or-b-profile-spans-value {
        z-index: inherit;
        grid-column: 3;
        grid-row: 2;
        color: white;
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px; 
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 6px; 
        /*border: 1px dashed white;*/
    }

    .new-game-w-or-b-profile-offsets-label {
        z-index: inherit;
        grid-row: 3;
        grid-column: 2;
        color: white;
        font-size: 12px; 
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px; 

        /*border: 1px dashed white;*/
    }

    .new-game-w-or-b-profile-offsets-value {
        z-index: inherit;
        grid-column: 3;
        grid-row: 3;
        color: white;
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px; 
        overflow: hidden;
        text-overflow: ellipsis;

        /*border: 1px dashed white;*/
    }
