@import "../../../../styles/sqr/sqr";
@import "../../../../styles/sqr/get-sqr-hover-color";

@mixin sqr($height, $theme, $parity, $property) {
    position: absolute;
    z-index: 0;
    cursor: pointer;
    @include square($height, $theme, $parity, $property);
    &:hover {
        background-color: get-sqr-hover-color($theme);
    }
}
