.new-game-spans-table {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 420px;
    grid-template-rows: 15px 24px 24px 24px 24px 24px 15px;
    border: 1px solid #707070
}

.new-game-offsets-table {
    grid-column: 3;
    grid-row: 2;
    display: grid;
    grid-template-columns: 420px;
    grid-template-rows: 15px 24px 24px 24px 24px 24px 15px;
    border: 1px solid #707070;
}

.range-list-item {
    color: #a9a9a9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-align: left;
}

.list-item1 {
    grid-column: 1;
    grid-row: 2;
    background-color: #5D5D5D;
}

.list-item2 {
    grid-column: 1;
    grid-row: 3;
    background-color: #515151;
}

.list-item3 {
    grid-column: 1;
    grid-row: 4;
    background-color: #5D5D5D;
}

.list-item4 {
    grid-column: 1;
    grid-row: 5;
    background-color: #515151;
}

.list-item5 {
    grid-column: 1;
    grid-row: 6;
    background-color: #5D5D5D;
}