@import "../../../styles/color-variables";


$disp: 16;

.tools-menu {
    position: absolute;
    // border: 1px dashed hover-off;
}

@mixin tools-option {
    position: absolute;
    width: 100%;
    height: percentage($disp/100);
    background-color: $dark-grey2;
    border: 1px solid $dark-grey5;
}

@mixin expand-widget {
    position: absolute;
    left: 90%;
    height: percentage($disp/100);
    width: 7.5%;
}

/*tool-bars*/

.tools-menu-name {
    @include tools-option;
    top: 0;
}
.tools-menu-icon {
    @include tools-option;
    top: percentage($disp/100);
}
.tools-menu-range {
    @include tools-option;
    top: percentage($disp * 2/100);
}
.tools-menu-location {
    @include tools-option;
    top: percentage($disp * 3/100);
}
.tools-menu-options {
    @include tools-option;
    top: percentage($disp * 4/100);
}

/*expand widgets*/

.name-expand-widget {
    @include expand-widget;
    top: 0;
}

.icon-expand-widget {
    @include expand-widget;
    top: percentage($disp/100);
}

.range-expand-widget {
    @include expand-widget;
    top: percentage($disp * 2/100);
}

.location-expand-widget {
    @include expand-widget;
    top: percentage($disp * 3/100);
}

.options-expand-widget {
    @include expand-widget;
    top: percentage($disp * 4/100);
}


/*The selected toolbar and widgets. Tool is expanded*/

.tool-bar-selected {
    @include tools-option;
    top: percentage($disp * 2/100);
}

.tool-bar-selected-widget {
    @include expand-widget;
    top: percentage(-2.5/100);
}