
$ai-sqr-background-start-sqr-imgs: (
    "light": url("/Images/sqr/sqr-outline-fdfd35.svg")
);
$ai-sqr-background-dest-sqr-imgs: (
    "light": url("/Images/sqr/sqr-highlight-fdfd35.svg")
);
@function get-ai-sqr-background-img($theme, $start-or-dest) {
    @if $start-or-dest == "start" {
        @return map-get($ai-sqr-background-start-sqr-imgs, $theme);
    }
    @if $start-or-dest == "dest" {
        @return map-get($ai-sqr-background-dest-sqr-imgs, $theme);
    }

    @return none;
}
@mixin ai-sqr($theme, $start-or-dest) {
    position: absolute;
    width: 12.5%;
    height: 12.5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: get-ai-sqr-background-img($theme, $start-or-dest);
}

/*hover-off theme*/
.ai-start-sqr-light {
    @include ai-sqr("light", "start");
}
.ai-dest-sqr-light {
    @include ai-sqr("light", "dest");
}
