@import "../../styles/sqr/sqr";

@mixin rdb-sqr($height, $theme, $parity, $property) {
    position: absolute;
    z-index: 1;
    @include square($height, $theme, $parity, $property);
}

.range-display-board {
    position: absolute;
    z-index: 1;
    left: 10%;
    top: 15%;
    width: 80%;
    height: 80%;
    border: 1px solid #b1faae;

    .rdb-sqr1 {
        @include rdb-sqr(75, "light", "sqr1", "reg");
    }
    
    .rdb-sqr2 {
        @include rdb-sqr(75, "light", "sqr2", "reg");
    }
    
    .rdb-sqr1-highlight {
        @include rdb-sqr(75, "light", "sqr1", "highlight");
    }
    
    .rdb-sqr2-highlight {
        @include rdb-sqr(75, "light", "sqr2", "highlight");
    }
}